@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
}

/* Styling the header */
.top-header-container {
  width: 100%;
}

.top-header-content {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  margin: 0 auto;
}

.red-dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: rgb(115, 32, 35);
  border-radius: 50%;
  margin-right: 5px;
}

.top-header-text {
  display: flex;
  align-items: center;
  color: rgb(115, 32, 35);
  letter-spacing: 2px;
}

.top-header-text-strong {
  font-size: 20px;
  padding-right: 5px;
}

.top-header-text-line {
  font-weight: 200;
  padding-right: 5px;
}

.bottom-header-container {
  width: 100%;
  height: 160px;
  background-color: rgb(40, 42, 42);
}

.bottom-header-layout {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.bottom-header-left-content {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  top: -30px;
}

.burgerlove-logo {
  width: 120px;
  height: auto;
}

.bottom-header-left-text {
  font-family: "Lato", sans-serif;
}

.bottom-header-middle-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  margin-bottom: 25px;
}

.restaurang-online-icon {
  width: 140px;
  margin-bottom: 5px;
}

.bottom-header-right-content {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: flex-end;
  margin-bottom: 25px;
  font-family: "Lato", sans-serif;
}

.bottom-header-hours-text {
  margin: 5px 0 0 0;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  width: 220px;
}

.bottom-header-hours {
  font-weight: bold;
  padding-left: 30px;
  font-family: "Lato", sans-serif;
}

.bottom-header-text {
  width: 160px;
  font-weight: 300;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.bottom-header-right-links {
  display: flex;
  flex-direction: row;
}

.shopping-cart {
  width: 300px;
  margin-bottom: 30px;
}

.login-register-links {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-right: 30px;
  font-family: "Lato", sans-serif;
}

.login-register-links:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* STYLING SECTION WITH BACKGROUND IMAGE AND MENU */

.background-container {
  background-image: url(../foodora-case/assets/burgerlove-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

.background-menu-content {
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
}

.order-online-button {
  background-color: rgb(115, 32, 35);
  color: rgb(250, 247, 248);
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  padding: 8px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  cursor: pointer;
}

.order-online-button:hover {
  transform: scale(1.1);
}

.order-online-style {
  margin: 0;
  padding: 6px 20px;
  border: 1px solid rgb(250, 247, 248);
}

.hide-order-online-btn {
  display: none;
}

.burger-menu {
  display: none;
  background-color: rgb(115, 32, 35);
  padding: 3px;
  width: 100%;
  overflow: scroll;
}

.burger-menu-selected {
  display: block;
  height: 500px;
  margin-top: 50px;
}

.burger-menu-innercontent {
  border: 1px solid rgb(250, 247, 248);
  margin: 10px;
  padding: 30px;
  position: relative;
  height: fit-content;
}

.close-menu-click {
  color: rgb(250, 247, 248);
  font-size: 20px;
  position: absolute;
  right: 30px;
}

.close-menu-click:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.close-menu {
  display: none;
}

.burger-menu-layout {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.burger-menu-heading-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading-side-line {
  background-color: rgb(250, 247, 248);
  width: 140px;
  height: 1px;
  margin: 10px 30px;
}

.burger-menu-heading {
  color: rgb(250, 247, 248);
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
  letter-spacing: 4px;
  margin: 20px 0;
}

.burger-menu-dishes-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.burger-menu-dish-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}

.dish-img {
  background-color: rgb(40, 42, 42);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.dish-description-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.dish-heading {
  color: rgb(250, 247, 248);
  margin: 0;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  font-size: 24px;
}

.dish-description {
  color: rgb(250, 247, 248);
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.dish-price {
  color: rgb(250, 247, 248);
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  font-weight: bold;
}

/* STYLING THE FOOTER  */

.footer {
  width: 100%;
}

.footer-container {
  width: 70%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: rgb(115, 32, 35);
}

.footer-left-container {
  display: flex;
}

.footer-headers {
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  margin-bottom: 3px;
  letter-spacing: 2px;
}

.footer-visit-us-container {
  margin-right: 50px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

.footer-visit-us-text {
  margin: 2px 0 2px 0;
}

.footer-phone-number {
  text-decoration: none;
  color: rgb(115, 32, 35);
}

.footer-hours-container {
  width: 250px;
}

.footer-hours-container-content {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

.footer-hours-text {
  margin: 2px 0 2px 0;
}

.footer-hours-text-strong {
  font-weight: bold;
  margin: 2px 0 2px 0;
}

.footer-icon-container {
  display: flex;
  align-items: center;
}

.social-media-icon {
  color: rgb(115, 32, 35);
  margin-right: 10px;
}

.social-media-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
